* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}
header, nav, main, aside, footer {
    display: flex;
    margin: 3px;
    background: #a1a1a1;
}
header {
    flex: 1 1 100vw;
}
header #logo {
    flex: 0 1 200px;
    background: #c9c9c9;
}
#openMenu, #closeMenu {
    border: none;
    background: none;
    color: inherit;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}
nav a {
    margin: 3%;
    font-size: 1.2rem;
}
a {
    text-decoration: none;
    color: black;
}
main {
    flex: 20 1 500px;
    overflow: auto;
    flex-wrap: wrap;
}
main section {
    width: 100%;
    height: 2000px;
    margin: 10px;
    background-image: linear-gradient(#9a9a9a, #5a5a5a, #1a1a1a);
}
aside {

    flex: 1 1 200px;
}
footer {
    flex: 1 1 100vw;    
}

@media screen and (max-width:923px) {
    header {
        order: 0;
    }
    main {
        order: 2;
    }
    aside {
        flex: 1 1 100vw;
        order: 3;
    }
    footer {
        order: 4;
    }
}
@media screen and (max-width:717px) {
    #openMenu, #closeMenu {
        display: block;
    }
    #openMenu {
        margin-left: auto;
        margin-bottom: auto;
    }
    #closeMenu {
        position: fixed;
        top: 12px;
        right: 12px;
    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.8);
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}